@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}
body{
  background-color: gray;
}
.wrapper {
  height: 100vh;
}
.bg-img {
  background-image: linear-gradient(to right, #2C3531 40%, #116466 150%);
}
.effects-bg {
  box-shadow: 0 10px 10px rgba(1.5, 1.5, 1.5, 0.5);
}
.myBtn {
  border-radius: 50px;
  font-weight: bold;
  font-size: 20px;
  background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
  border: none;
}
.myBtn:hover {
  background-image: linear-gradient(to right, #495aff 0%, #0acffe 100%);
}
.myHr {
  height: 2px;
  border-radius: 100px;
}
.myLinkBtn {
  border-radius: 100px;
  width: 50%;
  border: 2px solid #fff;
}

/*Dashboard SECTION STYLE*/
.navbar-brand{
  font-weight: bolder;
  transform: rotate(15deg);
  text-transform: uppercase;
  font-style: oblique;
  font-family: sans-serif;
}
.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-old {
    color: #999;
}
/*END DASHBOARD SECTION STYLE*/









@media (max-width: 720px) {
  .wrapper {
    margin: 2px;
  }
}
