*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  padding: 5%;
  margin-left: 20%;
  display: inline-flex;
}
.wrapper{
  background: linear-gradient(to left, #152238, #152238 50%, darkblue 75%, #152238 75%);
  height: 30vh;
  width: 30vh;
  box-sizing: border-box;
}
.wrapper .title{
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
  margin-top: 3%;
  border-bottom: 4px solid white;
}
.number{
  text-align: center;
  margin-top: 40%;
  font-family: sans-serif;
  font-weight: 900;
}

/*ADMIN DATABALE */

/*ADMIN DATABLE*/
